target/

.idea/
*.iml

.settings/
.classpath
.project

.DS_Store
bin
.flattened-pom.xml

node_modules/
**/frontend/generated/
**/frontend/index.html
package-lock.json
webpack.generated.js
tsconfig.json
types.d.ts
vite.generated.ts